.Info {
    font-family: lato;
    font-weight: 100;
}

.list {
    list-style: none;
    display: flex;
}

.Btn-link {
    text-decoration: none;
    margin: 0 2rem;
    color: #333;
}

.list-item {
    display: flex;
    
}

.apart {
    margin-right: auto;
}